# 所有以~结尾的目录/文件忽略，如：office文件打开时，会生成一个隐藏的此文件
*~

# 所有.DS_Store目录/文件忽略，MAC专用
.DS_Store

# 所有.iml结尾的目录/文件忽略
*.iml

# 所有.gradle目录/文件忽略
.gradle

# 所有.idea目录/文件忽略
.idea

# 所有build目录/文件忽略
build

# 当前目录下的local.properties目录/文件忽略
/local.properties

# 当前目录下的captures目录/文件忽略
/captures

# 当前目录下的key目录/文件忽略
/extra/key

# 当前目录下的apk目录/文件忽略
#/extra/apk

# 当前目录下的shell目录/文件忽略
/extra/shell

# 当前目录下的file目录/文件忽略
/extra/file

# 当前目录下的doc目录/文件忽略
#/extra/doc
/extra/doc/md_help.md

# 所有*.apk结尾的目录/文件忽略
#*.apk

# 所有*.paw结尾的目录/文件忽略
#*.paw

# 所有*.json结尾的目录/文件忽略
#*.json

# 所有*.txt结尾的目录/文件忽略
/*.txt

# 当前目录*.sh结尾的目录/文件忽略
/*.sh